* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #663333; }
  body main {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body main:before, body main:after {
      content: " ";
      display: table; }
    body main:after {
      clear: both; }
    body main article {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 74.41059%; }
      body main article:last-child {
        margin-right: 0; }
    body main aside {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 23.23176%; }
      body main aside:last-child {
        margin-right: 0; }
