* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main div#primary {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%; }
    main div#primary:last-child {
      margin-right: 0; }
  main div#secondary {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    main div#secondary:last-child {
      margin-right: 0; }
